@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The VolunteerMe Application was created by students at DevCodeCamp in Milwaukee WI, to bring communities together
    Using VolunteerMe! Its a simple and effective way to create volunteer events and sign up to participate helping those in need.
    Founded in 2017 by Jr Developers Bryan Neumann, Jon Lor, Chi huynh, and William Siewert. It was during the early stages of a week long group project
    the students collaborated their thoughts to come up with an application that was useful and original, and that's how VolunteerMe was created.
    </p>
