@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VolunteerMe</h1>
    <p class="lead"></p>
    <p><a href="http://localhost:50102/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

