@model IntegrationProject.Models.User

@{
    ViewBag.Title = "Calendar";
    //Layout = "~/Views/Shared/_LayoutVolunteer.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>

    <script>
        $(document).ready(function () {

            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                // put your options and callbacks here

            })
        });
    </script>

</head>

<h2 style="color:red">Calendar</h2>

<div id="calendar"></div>