@model IntegrationProject.Models.User

@{
    ViewBag.Title = "Calendar";
    //Layout = "~/Views/Shared/_LayoutVolunteer.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>

    <script>
        $(document).ready(function () {

            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                // put your options and callbacks here
            })
                //< a href= "~/Controllers/UsersController.cs" > ~/Controllers/UsersController.cs</a >
            var eventsArray = [];

            //for (var i = 1; i < 32; i++) {
            //    var sampleEvent = {
            //        "id": "2302",
            //        "title": "New Event",
            //        "start": "8/" + i.toString() + "/2017 12:00:00 AM",
            //        "end": "8/" + i.toString() + "/2017 12:00:00 PM",
            //        "allDay": true,
            //        "url": "https://www.google.com"
            //    }
            //    eventsArray.push(sampleEvent);
            //}

            @*var titleString = (@ViewBag.Json).toString();*@
            var titleString = "Event";

            var sampleEvent = [{
                    "id": "2302",
                    "title": titleString,
                    "start": "8/5/2017 12:00:00 AM",
                    "end": "8/9/2017 12:00:00 PM",
                    "allDay": false,
                    "url": "https://www.google.com"
                }]

            @*var actionUrl = '@Url.Action("GetEvents", "UsersController")';
            eventsArray.push($.getJSON(actionUrl));*@

            @*var eventData = (@ViewBag.Json);*@

            $('#calendar').fullCalendar('addEventSource', sampleEvent);
        });
    </script>

</head>

<h2 style="color:red">Calendar</h2>

<div id="calendar"></div>