@model IntegrationProject.Models.User

@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_LayoutVolunteer.cshtml";
}

<head>
    @* fullcal stylesheet *@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @* js moment *@
    @* jquery full calendar *@
</head>

<h2>Calendar</h2>


